table {
    text-align: center;
    border: 3px solid #3366CC;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 20px 20px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #3366CC;
}


.test {
 color: red;
}